[common]
genbank_dir = "HCVData/GenBankFiles"
sheet_name = "Ref_summary_20260429 (2)"
output_dir = "outputs/local_alignment"
reference_fasta = "HCVData/HCV_GT_RefSeqs.fasta"
subtype_json = "HCV_Subtype_Refs_By_Genome_NA.json"
gt_aa_json = "HCVData/HCV_GT_Refs_By_Gene_AA.json"
min_sequences = 10
python_bin = ".venv/bin/python"

[ns3]
excel_file = "HCVData/Ref-selection/___IncludedNS3Refs.xlsx"
sheet_name = "NS3_PtGT0_Check"
fasta_pool = "HCVData/FASTA"

[ns3_comet]
excel_file = "HCVData/Ref-selection/___IncludedNS3Refs.xlsx"
sheet_name = "NS3_PtGT0_Check"
fasta_pool = "HCVData/FASTA"
output_dir = "outputs/comet-NS3"

[ns5a]
excel_file = "HCVData/Ref-selection/___IncludedNS5ARefs.xlsx"
sheet_name = "NS5A_PtGT0_Check"
fasta_pool = "HCVData/FASTA"
genbank_dir = "HCVData/GenBankFiles"

[ns5a_comet]
excel_file = "HCVData/Ref-selection/___IncludedNS5ARefs.xlsx"
sheet_name = "NS5A_PtGT0_Check"
fasta_pool = "HCVData/FASTA"
output_dir = "outputs/comet-NS5A"

[ns5b]
excel_file = "HCVData/Ref-selection/___IncludedNS5BRefs.xlsx"
sheet_name = "NS5B_PtGT0_Check"
fasta_pool = "HCVData/FASTA"
genbank_dir = "HCVData/GenBankFiles"

[ns5b_comet]
excel_file = "HCVData/Ref-selection/___IncludedNS5BRefs.xlsx"
sheet_name = "NS5B_PtGT0_Check"
fasta_pool = "HCVData/FASTA"
output_dir = "outputs/comet-NS5B"
